<section>
  <nav>
    <a routerLink="/home">
      Home
    </a>
  </nav>
  <div class="content">
    <div>
      <h2>RTTL: Ozarks Chapter has developed a unique form of land ownership, similar to that of Orania in South Africa.</h2>
      <div>
        <div>We created a private neighborhood, owned by the members of an LLC, and managed according to the LLC Operating Agreement. Each member is allocated a piece of land according to their percentage of ownership in the LLC. There are basic rules to prevent serious nuisances, while allowing for normal agricultural and residential activities.</div>
        <div>The LLC (Limited Liability Company) owns a large parcel of land, with each person owning a share of the LLC which confers them land rights via its LLC Operating Agreement.</div>
        <div>Separately, a Private Membership Association is used to source potential LLC members. All LLC members must first join the PMA; that is a condition of the share transfer restrictions in the LLC Operating Agreement.</div>
        <div>The LLC does not engage in business with the general public nor does it engage in the business of buying and selling real estate or providing housing. It exists for the sole purpose of managing a piece of property on behalf of its members and on behalf of the private membership association.</div>
        <div>The LLC's board of managers is responsible for maintaining the common elements of the property, such as private roads and the community center. The LLC members pass an annual maintenance budget to cover these expenses.</div>
      </div>
      <h3>Joining Us</h3>
      <div>
        <div>In order to buy a share of a land-owning LLC, you must first join the RTTL: Ozarks Chapter PMA (Private Membership Association.) After that, you can ask to join an LLC. After purchasing a share of membership interest, the LLC will allocate you a piece of land for indefinite use as per its operating agreement. Then you can move into the neighborhood and develop your land. If you change your mind or your life plans, you can later sell this share to another approved buyer.</div>
        <div>In the unlikely event that the LLC is at some point dissolved, the default action per the Operating Agreement would be the land being passed to the LLC owners as tenency-in-common, or parcelation.</div>
      </div>
      <h3>Sale, Inheritance, or Seizure of your LLC Membership Interest</h3>
      <div>
        <div>Your share of the LLC is transferable, and also follows inheritance law, so your children will inherit it when you pass away, with certain restrictions. You can also sell it if you so desire. It cannot be wholly seized by any creditor you may have, since the LLC is a multi-member LLC (MMLLC) with share transfer restrictions.</div>
        <div>The LLC's operating agreement specifies share transfer restrictions, so no one may own or control a share in the LLC without being approved by a majority of board members, and by first being a member of the RTTL: Ozarks PMA. A creditor or bankrupcy trustee may obtain a charging order but may not actually exercise control over your share, or receive rights and benefits from it. Please note that none of this constitutes professional legal advice and you should consult a qualified attorney for a legal opinion if any of this applies to you.</div>
        <div>The LLC Board of Managers is elected every 2 years, and managers may be removed by vote if they perform poorly. The Board of Managers is tasked with carrying out the operations of the LLC as described in the LLC Operating Agreement. The Operating Agreement is governed by the Arkansas Uniform LLC Act (ULLCA).</div>
        <div>If a member severely violates the Operating Agreement - for example, carries out illegal activities on the property - they may be removed from the LLC after an initial warning and a mediation process, but the LLC must buy them out at “fair market value.” This way, even if someone is removed for a heinous offense, they still must be compensated for the value of their share, including the land allocated to them and any assets they have developed on that land, such as buildings and infrastructure. If they are compensated unfairly, they have legal recourse. The ULLCA requires LLCs to abide by their Operating Agreement and by various statutes.</div>
      </div>
      <h3>FAQ</h3>
      <h4>Am I required to develop my land within a certain time period?</h4>
      <div>
        <div>No, unless one of our group land buys adds that to its operating agreement.</div>
      </div>
      <h4>Are there zoning laws?</h4>
      <div>
        <div>We have selected an area where there are no zoning laws or permits required for construction, with the exception of a state law requiring a functioning septic system and prohibiting surface discharge of solids, which you must abide by.</div>
      </div>
      <h4>Can you help me with development?</h4>
      <div>
        <div>There are some PMA members who are contractors or have experience with various development tasks such as construction and land clearing. Contact us for details.</div>
      </div>
      <h4>Septic and well costs?</h4>
      <div>
        <div>$7-$8k+ for a septic system and $9-$13k for a well.</div>
        <div>You can do a cheaper septic system that still satisfies the state law for around $3-$5k, less if you do it yourself, but please consult us for best practices to ensure that you are following state law.</div>
        <div>You can have an RV-type water system with a holding tank and a pump / pressure tank for much less than a well, but this requires refilling the holding tank regularly. We can also have well-sharing agreements between landowners and split the cost of a single well between two households.</div>
      </div>
      <h4>Electric hookup?</h4>
      <div>
        <div>It can cost about $30-$35 per foot to bring electric from the nearest post. Posts that are in the property already may have been paid for by another owner, in which case you will need to share the cost of that installation. The electric company, depending on what county the property is in, may pay for the first 1⁄4 mile of installation if your construction site meets certain requirements. Contact us for details.</div>
      </div>
      <h4>Internet?</h4>
      <div>
        <div>Details on internet hookup differ for each property. Most areas have fiberoptic and 4G cell reception.</div>
      </div>
      <h4>What happens if I file for bankrupcy or a creditor seizes my assets? Can this land be taken from me as the other land that I own can be?</h4>
      <div>
        <div>Not according to case law. A creditor can only place a charging order on, but not seize, membership interest in an MMLLC (multi-member LLC) in cases where the LLC Operating Agreement has share transfer restrictions that forbid new members that are not approved by the LLC. To do so would be a violation of the rights of the other members of the MMLLC. A charging order is a court order that states that should you transfer your membership interest, any proceeds must go to your creditor, and should the LLC distribute any profits, the drawdown amount should go to your creditor.</div>
      </div>
      <h4>Can I be kicked out of a land-owning LLC?</h4>
      <div>
        <div>The Operating Agreement allows for a member to be expelled in grave circumstances. For example, if they committ serious crimes, or they are a “bad actor” intentionally disrupting the functioning of the neighborhood.</div>
        <div>In such cases, the Operating Agreement requires that the member being expelled be paid a “fair market value” for their membership interest. In the case that a member feels they were expelled unfairly, and/or were not paid a fair market value for their membership interest, they have the resource of legal action, where a judge can decide whether the ULLCA was followed in the carrying out of such a decision. If the expulsion was not fair, the member can be reinstated by court order, and if the value paid was not a fair market value, the member can be compensated by the LLC to the amount that the judge decides based on a third party appraisal.</div>
        <div>We feel this is a much better arrangement than many so-called “intentional communities” where a family can pay their life savings to “buy into” a community with no legal paperwork, only to be kicked out with no compensation a few years later when they have a falling-out with the cult-like inner circle (many such cases.)</div>
      </div>
      <h4>Is there an HOA fee?</h4>
      <div>
        <div>Each land-owning LLC has an initial development budget that is funded by its members, the amount is included in the share price. Once that is spent on developing common elements of the property such as private road, utilities etc, the LLC will pass a yearly maintenance budget that will pay for property taxes, maintenance of common elements and administrative costs. This will be voted on by the members. The goal of this is to be small and affordable even for low-income families. Work-exchange may be accepted in lieu of payment up to a certain amount, for common element maintenance tasks such as road work. Each LLC member will pay into this fund depending on the percentage of his/her membership interest in the land-owning LLC.</div>
      </div>
    </div>
  </div>
  <div>
    <rttl-footer [isHome]="false"></rttl-footer>
  </div>
</section>