section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 0.5em;
  background: url("~src/assets/dark-forest-path.jpg") no-repeat center center;
  background-size: cover;
  color: white;

  h2 {
    font-size: 3em;
  }

  hr {
    width: 75%;
  }

  >.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >.text-center {
      backdrop-filter: brightness(60%);
      border-radius: 1em;
      padding: 1em;
    }

    .text>div {
      padding: 1em 0;
    }
  }
}