section {
  display: flex;
  flex-direction: column;
  padding: 0 0.5em;
  background: url("~src/assets/about.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  min-height: 700px;

  h2 {
    font-size: 3em;
  }

  hr {
    width: 75%;
  }

  >.content {
    margin: 3em 1em;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >.text-center {
      margin-bottom: 3em;
    }

    >.dis-flex {
      gap: 3em;
      flex-wrap: wrap;
      justify-content: center;

      >div {
        flex-grow: 0;
        flex-basis: 540px;

        >div {
          padding: 1em;
          backdrop-filter: brightness(40%);
          border-radius: 1em;

          >div+div {
            margin-top: 0.25em;
          }
        }
      }
    }
  }
}