<section id="about">
  <div class="content">
    <div class="text-center">
      <div class="dis-flex flex-align-center">
        <h2>About</h2>
      </div>
      <hr />
    </div>
    <div class="text-center">
      <a routerLink="/about">
        More Information
      </a>
    </div>
    <div class="dis-flex">
      <div>
        <div>
          <div class="text-center">
            <h3>Community Vision</h3>
            <hr />
          </div>
          We seek to create a decentralized movement, formed of various individuals and societies returning to the land. We will promote strong families with common ancestry, and raise the next generation in an environment that reflects our traditional values. We will facilitate economic and social harmony between all groups and individuals in our movement. Above all, we will continue to engage in a never-ending pursuit of excellence, refusing to lower our standards or lose sight of our goals.
        </div>
      </div>
      <div>
        <div>
          <div class="text-center">
            <h3>Community Mission</h3>
            <hr />
          </div>
          We will return to the land to separate ourselves from a failing modern society, and we will make positive cultural changes in ourselves and in our ancestral communities.
        </div>
      </div>
      <div>
        <div>
          <div class="text-center">
            <h3>Community Goals</h3>
            <hr />
          </div>
          <div>To facilitate individuals and groups that share common ancestry to purchase land in rural areas.</div>
          <div>To facilitate media activities to promote our movement.</div>
          <div>To create many independent and fully-functioning parallel societies.</div>
          <div>To teach, share, and develop successful methods of garnering independence and building community.</div>
          <div>To cultivate wholesomeness, beauty, health, and hope in a trying world.</div>
        </div>
      </div>
    </div>
  </div>
</section>