<section id="about">
  <div class="content">
    <div class="text-center">
      <h2>Membership</h2>
      <hr />
      <div class="text">
        <div>
          <a href="https://form.jotform.com/232545151398661">
            1. Fill out the questionnaire
          </a>
        </div>
        <div>
          2. Follow the instructions in the email you receive, to get an interview
        </div>
        <div>
          3. If approved, you will receive a Member Agreement via email 1-2 weeks afterwards
        </div>
        <div>
          <a
            href="assets/RTTL-PMA.pdf"
            target="_blank"
          >
            PMA Articles of Association
          </a>
        </div>
      </div>
    </div>
  </div>
  <div>
    <rttl-footer></rttl-footer>
  </div>
</section>