header,
footer {
  max-width: 900px;
  margin: 0.5em auto;
  padding: 0 0.5em;

  @media (max-width: 650px) {
    flex-direction: column;
  }
}

nav {
  white-space: nowrap;
}

h1 {
  font-size: 2.5em;
  font-family: OldEurope;
  margin-left: 0.5em;

  @media (max-width: 500px) {
    font-size: 2em;
  }
}

img {
  height: 3em;
}
