<section>
  <div>
    <header class="dis-flex flex-align-center flex-justify-between">
      <div></div>
      <nav>
        <a routerLink="/home">
          Home
        </a>
      </nav>
    </header>
  </div>
  <div class="content">
    <div>
      <h1>
        Eclipse Campout and Work Party
      </h1>
      <div>
        <div>We are planning an epic week-long event in April 2023. Come and camp out at our property in Northeast Arkansas for a week or longer, and help us to do some projects on the farm. This is a great networking opportunity, as well as a chance to check out land in the area. We have a large property purchased as a group, and while each individual has their own private land, we have a community area that is developed and maintained in common. We are planning to build a Viking-style longhouse in this community area, and will need many hands to help us build the stone foundation.</div>
        <div>We will also need people to help with a fence on the front of the property, and a few other projects. Not to mention people to help cook the food!</div>
        <div>Only Ozarks PMA members will be allowed to attend this event, so if you haven't applied yet, please do! There are many benefits to being a PMA member, not just the ability to participate in the RTTL: Ozarks group land buys.</div>
        <div>This is a family-friendly event so please feel free to bring your family.</div>
        <div>Stay tuned to this page for details on the dates and how to sign up. There will be a small cost to cover food which we will provide, and other amenities. There are motel options 20 minutes away for those who prefer not to camp. RV or camper is fine at our property. Plan your travels to Northeast Arkansas in the Pocahontas area.</div>
      </div>
    </div>
  </div>
</section>