section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: calc(100vw - 1em);
  padding: 0 0.5em;
  background: url("~src/assets/april-event.jpg") no-repeat top center;
  background-size: cover;
  color: white;

  header {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 2em;

    >nav {
      display: flex;
      align-items: center;
    }
  }

  >.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 1.5em 0;

    >div {
      backdrop-filter: brightness(30%);
      // border: 0.25em double white;
      border-radius: 0.5em;
      padding: 1.5em;


      >div {
        padding-top: 0.5em;
        max-width: 1000px;
        margin: 0 auto;
        font-size: 1.25em;
        text-align: left;

        >div {
          padding-top: 1.5em;
        }
      }
    }
  }

  h1 {
    font-size: 4em;
    font-family: Balgruf;
    line-height: 1em;
  }
}