<section>
  <nav>
    <a routerLink="/home">
      Home
    </a>
  </nav>
  <div class="content">
    <h1>Donate</h1>
    <div>
      <a href="https://www.givesendgo.com/peeracademy">
        <h2>Peer Academy</h2>
        <div class="image-container">
          <img
            src="assets/a.jpg"
            alt="Philosophy"
          >
        </div>
      </a>
      <a href="https://www.givesendgo.com/rttl_ozarks_family">
        <h2>Family Incentives</h2>
        <div class="image-container">
          <img
            src="assets/b.jpg"
            alt="Baby"
          >
        </div>
      </a>
      <a href="https://www.givesendgo.com/rttl_ozarks">
        <h2>Community Center Fund</h2>
        <div class="image-container">
          <img
            src="assets/c.jpg"
            alt="Community building"
          >
        </div>
      </a>
    </div>
    <h1>Thank you!</h1>
  </div>
  <div>
    <rttl-footer [isHome]="false"></rttl-footer>
  </div>
</section>