/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin: 0;
}

@font-face {
  font-family: Balgruf;
  src: url(assets/Balgruf.woff2) format('woff2'),
    url(assets/Balgruf.woff) format('woff');
}

ol,
ul {
  margin: 0;
}

.dis-flex {
  display: flex;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-between {
  justify-content: space-between;
}

a {
  color: currentColor;
}

a:not(.ignore),
button {
  background-color: transparent;
  border: 1px solid currentColor;
  color: currentColor;
  padding: 0.5em;
  text-decoration: none;
  font-size: 1em;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  border-radius: 0.5em;
  line-height: 1em;
  font-weight: bold;
  backdrop-filter: brightness(60%);

  &:hover,
  &:focus {
    box-shadow: 0 0 0.25em 0.25em currentColor;
  }
}

a+a,
a+button,
button+a,
button+button {
  margin-left: 0.5em;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.dis-none {
  display: none;
}