/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: OldEurope;
  src: url(assets/OldEurope.ttf);
}

section {
  margin: 0 0.5em;
}

.dis-flex {
  display: flex;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-between {
  justify-content: space-between;
}

a,
button {
  background-color: transparent;
  border: 1px solid currentColor;
  color: currentColor;
  padding: 0.5em;
  text-decoration: none;
  font-size: 1em;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  border-radius: 0.5em;
  line-height: normal;
}

a+a,
a+button {
  margin-left: 0.25em;
}
