/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  font-size: large;
}

h1,
h2,
h3 {
  margin: 0;

  @media (max-width: 650px) {
    margin-bottom: 0.5em;
  }
}

@font-face {
  font-family: OldEurope;
  src: url(assets/OldEurope.ttf);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
}

section {
  margin: 0 0.5em;
}

.dis-flex {
  display: flex;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-between {
  justify-content: space-between;
}

a {
  color: currentColor;
}

header a,
footer a,
header button,
footer button {
  background-color: transparent;
  border: 1px solid currentColor;
  color: currentColor;
  padding: 0.5em;
  text-decoration: none;
  font-size: 1em;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  border-radius: 0.5em;
  line-height: normal;
}

a+a,
a+button {
  margin-left: 0.25em;
}
