<section id="main">
  <div>
    <header class="dis-flex flex-align-center flex-justify-between">
      <div></div>
      <nav>
        <a href="#locations">
          Location
        </a>
        <a href="#about">
          Membership
        </a>
      </nav>
    </header>
  </div>
  <div class="content">
    <div class="text-center">
      <h1>Return to the Land</h1>
      <hr />
      <h2>Private Membership Association</h2>
    </div>
  </div>
</section>
<section id="locations">
  <div>
    <h2>
      RTTL Ozarks Chapter
    </h2>
    <div>
      <div class="dis-flex flex-justify-between">
        <ul>
          <li>🏡 No zoning laws</li>
          <li>🔫 Permitless open carry</li>
        </ul>
        <ul class="mleft">
          <li>💰 Affordable land</li>
          <li>⛄ Mild winters</li>
        </ul>
      </div>
      <ul>
        <li>🏫 Relaxed homeschooling regulations</li>
      </ul>
    </div>
  </div>
</section>
<section id="about">
  <div class="content">
    <div class="text-center">
      <h2>Membership</h2>
      <hr />
      <div class="text-left">
        <ol>
          <li>
            <a href="https://t.me/+b3VYbqF3cfNiNWE5">
              Join and Introduce yourself on our Telegram
            </a>
          </li>
          <li>
            See the pinned questionnaire in Telegram and fill it out
          </li>
          <li>
            After vetting and approval you can join a community
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div>
    <footer class="dis-flex flex-align-center flex-justify-between">
      <div>
        ©2023 Wisdom Woods LLC. All Rights Reserved.
      </div>
      <div>
        <a href="https://www.guilded.gg/r/zzMlWZ7PLR?i=AQ0b0kZm">
          Guilded
        </a>
        <a href="https://t.me/+b3VYbqF3cfNiNWE5">
          Telegram
        </a>
        <a href="mailto:wisdomwoods@proton.me">
          Email
        </a>
      </div>
    </footer>
  </div>
</section>

<!-- <iframe
  src="https://odysee.com/$/embed/a-call-to-return-to-the-land/8b893bd01718ca2a5c707f1b7e760bf363335066"
  frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen"
></iframe> -->

<!-- <ul>
  <li>📜 Legally enforable bylaws</li>
  <li>💵 Increased purchasing power with groups</li>
  <li>🏛️ Intentional neighborhood, not a commune</li>
</ul> -->
