hr {
  width: 75%;
}

#locations {
  background-color: #222;
  color: white;
  padding: 1.5em 0.5em;
  display: flex;
  justify-content: space-around;
  gap: 3em;
  align-items: center;

  @media (max-width: 1000px) {
    flex-direction: column;
  }

  >div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    gap: 3em;
  }

  h2 {
    font-size: 3em;
  }

  .content {
    a {
      margin-top: 2em;
    }

    .text>div {
      padding: 1em 0;
    }
  }

  .image-container {
    position: relative;

    >img {
      position: absolute;
      bottom: 1em;
      right: 1em;
      width: 2em;
      height: 2em;
      z-index: 3;
      user-select: none;
      pointer-events: none;
    }

    button {
      padding: 0;
      height: 35vh;
      width: 30vw;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      @media (max-width: 1000px) {
        width: min(90vh, 90vw);
      }
    }

    .text {
      padding: 3em;
    }
  }

  .map-container {
    display: flex;
    justify-content: center;
    text-align: center;

    >div {
      max-width: 600px;
    }

    img {
      max-width: 600px;
      width: 100%;
      height: 100%;
      border-radius: 1em;
    }
  }
}

dialog {
  background-color: transparent;
  width: 100vw;
  text-align: center;
  border: 0;
  padding: 0.5em;
  color: white;

  &::backdrop {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
  }

  >button {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    float: right;
  }

  >div {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (max-width: 1000px) {
      flex-direction: column;

      button {
        margin: 0.5em 0;
      }
    }

    >img {
      max-height: 80vh;
      max-width: 80vw;
    }
  }
}
