<rttl-main></rttl-main>
<section id="locations">
  <div>
    <div class="content text-center">
      <div>
        <h2>
          Ozarks Location
        </h2>
        <hr />
        <div>
          <a
            href="assets/LLC-Operating-Agreement.pdf"
            target="_blank"
          >
            LLC Operating Agreement
          </a>
        </div>
        <!-- <div>
          <a routerLink="/april-event">
            April 2024 Event
          </a>
        </div> -->
      </div>
    </div>
    <div>
      <div class="image-container">
        <img
          src="assets/search.svg"
          alt="Search Icon"
        >
        <button (click)="open(imageDialog)">
          <img
            *ngFor="let image of images"
            [class.dis-none]="imageIndex !== images.indexOf(image)"
            [src]="image"
            alt="Ozarks Location"
          >
        </button>
      </div>
    </div>
  </div>
  <div class="map-container">
    <div>
      <div>
        <img
          src="assets/photo_2024-04-14_21-28-51.jpg"
          alt="Ozarks Map"
        >
      </div>
      <small class="text">
        These lots are tied to membership interest in our LLC. You can purchase a share of membership interest in the LLC to become a landowner/homesteader via the LLC. Contact us for pricing and payment plans. Lots without color are not available. Only PMA members may apply to purchase membership interest in the LLC.
      </small>
    </div>
  </div>
</section>
<rttl-about></rttl-about>
<dialog
  #imageDialog
  class="text-center"
>
  <button
    class="close"
    (click)="close(imageDialog)"
  >
    Close
  </button>
  <div>
    <div>
      <button (click)="this.changeImageIndex(this.imageIndex - 1)">
        Prev
      </button>
    </div>
    <img
      *ngFor="let image of images"
      [class.dis-none]="imageIndex !== images.indexOf(image)"
      [src]="image"
      alt="Ozarks Location"
    >
    <div>
      <button (click)="this.changeImageIndex(this.imageIndex + 1)">
        Next
      </button>
    </div>
  </div>
</dialog>
