<section class="bg-forest dis-flex flex-align-center flex-justify-between">
  <div class="dis-flex flex-align-center flex-justify-between">
    <h2 id="about">
      Land Ownership LLC
    </h2>
    <div>
      <h3>Advantages</h3>
      <ul>
        <li>Selects</li>
        <li>Legally enforable bylaws</li>
        <li></li>
      </ul>
      <iframe
        width="100%"
        height="100%"
        src="https://odysee.com/$/embed/a-call-to-return-to-the-land/8b893bd01718ca2a5c707f1b7e760bf363335066"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen"
      ></iframe>
    </div>
  </div>
</section>
<section>
  <h2 id="locations">
    Ozarks Chapter
  </h2>
  <div>
    More to come...
  </div>
</section>
<section>
  <h2 id="join">
    How to Join
  </h2>
  <div>
    <div>
      For community
      <a href="https://www.guilded.gg/r/zzMlWZ7PLR?i=AQ0b0kZm">
        Guilded
      </a>
    </div>
    <div>
      For vetting
      <a>Telegram</a>
    </div>
    <div>
      For general inquiries
      <a>Email</a>
    </div>
  </div>
</section>
