section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

hr {
  width: 75%;
}

#main {
  background: url("~src/assets/forest-with-tall-green-trees.jpg") no-repeat center center;
  background-size: cover;
  color: white;

  header {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 2em;
  }

  >.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 5em;
    font-family: Balgruf;
    line-height: 1em;
  }
}

#about {
  background: url("~src/assets/dark-forest-path.jpg") no-repeat center center;
  background-size: cover;
  color: white;

  >.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2em;
  }

  footer {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
}

// iframe {
//   min-width: 400px;
//   min-height: 225px;
// }
