section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: calc(100vw - 1em);
  padding: 0 0.5em;
}

hr {
  width: 75%;
}

#main {
  background: url("~src/assets/forest-with-tall-green-trees.jpg") no-repeat center center;
  background-size: cover;
  color: white;

  header {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 2em;

    >nav {
      display: flex;
      align-items: center;
    }
  }

  >.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .text-center>div:last-child {
      margin-top: 2em;

      >span {
        color: #FF3131;
      }
    }
  }

  h1 {
    font-size: 5em;
    font-family: Balgruf;
    line-height: 1em;
  }
}

#locations {
  background-color: #222;
  color: white;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  @media (max-width: 1000px) {
    flex-direction: column;
  }

  h2 {
    font-size: 3em;
  }

  .content {
    a {
      margin-top: 2em;
    }

    .text>div {
      padding: 1em 0;
    }
  }

  .image-container {
    position: relative;

    >img {
      position: absolute;
      bottom: 1em;
      right: 1em;
      width: 2em;
      height: 2em;
    }

    button {
      padding: 0;
      height: 35vh;
      width: 30vw;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      @media (max-width: 1000px) {
        width: 80vw;
      }
    }
  }

  dialog {
    background-color: transparent;
    width: 100vw;
    text-align: center;
    border: 0;
    padding: 0.5em;
    color: white;

    &::backdrop {
      background: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(3px);
    }

    >button {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      float: right;
    }

    >div {
      display: flex;
      align-items: center;
      justify-content: space-around;

      @media (max-width: 1000px) {
        flex-direction: column;

        button {
          margin: 0.5em 0;
        }
      }

      >img {
        max-height: 80vh;
        max-width: 80vw;
      }
    }
  }

  // .image-container {
  //   width: 400px;
  //   height: 225px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;


  //   >img {
  //     flex-shrink: 0;
  //     min-width: 100%;
  //     min-height: 100%;
  //   }
  // }
}

#about {
  background: url("~src/assets/dark-forest-path.jpg") no-repeat center center;
  background-size: cover;
  color: white;

  h2 {
    font-size: 3em;
  }

  >.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text>div {
      padding: 1em 0;
    }
  }
}

// iframe {
//   min-width: 400px;
//   min-height: 225px;
// }