hr {
  width: 75%;
}

#ozark-map {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
  padding: 1.5em 0.5em;
  background-color: #222;
  color: white;

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
  }

  >* {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .text {
    padding: 3em;
  }

  .image-container {
    height: min(45vh, 45vw);
    width: min(45vh, 45vw);


    @media (max-width: 1000px) {
      height: min(90vh, 90vw);
      width: min(90vh, 90vw);
    }

    >img {
      width: 100%;
      height: 100%;
      border-radius: 1em;
    }
  }
}

#locations {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 1.5em 0.5em;
  background-color: #222;
  color: white;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  @media (max-width: 1000px) {
    flex-direction: column;
  }

  h2 {
    font-size: 3em;
  }

  .content {
    a {
      margin-top: 2em;
    }

    .text>div {
      padding: 1em 0;
    }
  }

  .image-container {
    position: relative;

    >img {
      position: absolute;
      bottom: 1em;
      right: 1em;
      width: 2em;
      height: 2em;
      z-index: 3;
      user-select: none;
      pointer-events: none;
    }

    button {
      padding: 0;
      height: 35vh;
      width: 30vw;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      @media (max-width: 1000px) {
        width: min(90vh, 90vw);
      }
    }
  }

  dialog {
    background-color: transparent;
    width: 100vw;
    text-align: center;
    border: 0;
    padding: 0.5em;
    color: white;

    &::backdrop {
      background: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(3px);
    }

    >button {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      float: right;
    }

    >div {
      display: flex;
      align-items: center;
      justify-content: space-around;

      @media (max-width: 1000px) {
        flex-direction: column;

        button {
          margin: 0.5em 0;
        }
      }

      >img {
        max-height: 80vh;
        max-width: 80vw;
      }
    }
  }

  // .image-container {
  //   width: 400px;
  //   height: 225px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;


  //   >img {
  //     flex-shrink: 0;
  //     min-width: 100%;
  //     min-height: 100%;
  //   }
  // }
}