.bg-forest {
  // background: url("~src/assets/wide-woods.png") no-repeat left center;
  // background-image: url("assets/Screenshot 2023-09-26 200438.png"), linear-gradient(white 0%, transparent 100%);
  background-size: cover;
  // color: white;
}

section>div {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2.5em 0;

  @media (max-width: 650px) {
    flex-direction: column;
  }
}


iframe {
  min-width: 400px;
  min-height: 225px;
}


.mleft {
  margin-left: 1.5em;
}
