<section>
  <nav>
    <a routerLink="/home">
      Home
    </a>
  </nav>
  <div class="content">
    <div>
      <h1>
        4th of July Campout: Return to the Land!
      </h1>
      <div>
        <div>Dates: July 4-7 (come whichever of those dates you please)</div>
        <div>Location: Northeast Arkansas between Pocahontas and Ash Flat</div>
        <div>Cost: None.</div>
        <div>Join us for a relaxed, family-friendly campout.</div>
        <div>Bring your own food and enjoy a weekend at the first RTTL Community. PMA members only. There is no cost.</div>
        <div>Sign up with the form below. If the embedded form doesn't work, <a
            href="https://form.jotform.com/jsform/241425561489058"
            class="ignore"
          >try this link</a>.</div>
        <div #scriptHolder>
          <!-- <script
            type="text/javascript"
            src="https://form.jotform.com/jsform/241425561489058"
          ></script> -->
        </div>
      </div>
    </div>
  </div>
  <div>
    <rttl-footer [isHome]="false"></rttl-footer>
  </div>
</section>